[submodule "fast-syntax-highlighting"]
	path = .local/share/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	shallow = true
[submodule "nvm"]
	path = .local/share/nvm
	url = https://github.com/nvm-sh/nvm.git
	shallow = true
[submodule "pyenv"]
	path = .local/share/pyenv
	url = https://github.com/pyenv/pyenv.git
	shallow = true
[submodule "spaceship-prompt"]
	path = .local/share/zsh/themes/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
	shallow = true
[submodule "z.lua"]
	path = .local/share/z.lua
	url = https://github.com/skywind3000/z.lua.git
	shallow = true
[submodule "zsh-autosuggestions"]
	path = .local/share/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
